*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    scroll-behavior: smooth;
}


.navbar{
    height: 100px;
    width: 100%;
    background: #000;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    padding: 0 50px;
    margin: 0 auto;

    /* supaya stick pada saat scroll */
    position: sticky;
    top: 0;
    z-index: 999;
}

.navbar-container{
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: space-between;

    font-size: 1.2rem;

    width: 100%;
}

.navbar-menu{
    list-style: none;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    height: 100px;

}

.navbar-list{
    display: flex;
    align-items: center;
    align-content: center;
    /* padding: 1rem; */

    height: 100px;
    width: 150px;

}

.navbar-links{
    color: white;
    text-decoration: none;

    text-align: center;
    align-items: center;
    align-content: center;
    transition: all 0.5s ease;

    height: 100px;
    width: 100%;
}

.navbar-list:nth-child(3){
    margin-right: 320px;
}

.navbar-links:hover{
    background: #1a1a1a;
    color: #c7ae6a;
    transition: all 0.5s ease;
    text-decoration: underline #c7ae6a;
}
  
.navbar-side{
    display: flex;
    margin-right: 50px;
}

.navbar-btn{
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    padding: 0.5rem;

    width: 150px;
}

.button{
    background: #c7ae6a;
    color: #000;
    border-radius: 5px;
    /* font-weight: bold; */
    
    text-align: center;
    font-weight: bold;
    padding: 14px 14px;
    width: 100%;
    text-decoration: none;
    transition: all 0.5 ease;
}

.button:hover{
    background: linear-gradient(to top, #e3d6b4, #c7ae6a);
    color: #000;
    
    transition: all 0.5s ease;
}

.logo{

    border-radius: 5px;
    height: 100px;
}

.navbar-btn2{
    display: none;
    flex-direction: column;
    justify-content: space-around;
    height: 24px;
    cursor: pointer;
}

.bars{
    width: 25px;
    height: 3px;
    background-color: white;
}

/* responsive navbar */
@media screen and (max-width: 768px) {
    /* .logo{
        display: none;
    } */

    .navbar-btn2{
        display: flex;
        position: absolute;
        top: 35px;
        right: 20px;
        z-index: 1;
        cursor: pointer;
    }

    .navbar-menu{
        /* display: grid;
        grid-template-columns: auto; */
        display: flex;
        flex-direction: column;
        margin: 0;
        width:  90vw;
        position: absolute;
        top: -1000px;
        transition: all 0.5s ease;
        height: 50vh;
        z-index: -1;
    }

    .navbar-menu.active{
        background: #000;
        top: 100%;
        opacity: 1;

        display: grid;
        align-items: center;
        align-content: center;
        justify-content: center;
        /* width: 550px;
        height: 450px; */

        position: absolute;
        top: 100px;
        padding: 0;
        z-index: 99;
        height: 50vh;
        transition: all 0.5s ease;
    }

    /* .navbar-links.active{
        display: flex;
        align-items: center;
        align-content: center;
        text-align: center;
        font-size: 1rem;
        width: 100%;
    } */

    /* .navbar-list:nth-child(3).active{
        margin-right: 0;
    } */
    
    .navbar-btn{
        display: flex;
        align-items: center;
        align-content: center;
        text-align: center;
        justify-content: center;

        width: 100%;
        padding: 0.5rem;
    }

    .button{
        display: flex;
        align-items: center;
        /* align-content: center; */
        justify-content: center;
        width: 80%;
        /* height: 80px; */
        margin: 0;
        margin-bottom: 10px;
    }

    .navbar-list{
        width: 100%;
    }

    .navbar-links{
        display: flex;
        align-items: center;
        align-content: center;
        justify-content: center;
        width: 100%;
        padding: 15px 20px;
    }


    #mobile-menu.active .bars:nth-child(1){
        transform: translateY(8px) rotate(45deg);
    }

    #mobile-menu.active .bars:nth-child(2){
        opacity: 0;
    }

    #mobile-menu.active .bars:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }

}

/* title content */
.title-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
    background: #141414;
    padding: 50px 0;
}

.title-container h1{
    font-size: 3rem;
    color: #c7ae6a;
}

.title-container span{
    border: solid 5px #c7ae6a;
    width: 100%;
}

/* product description */
.product-desctription-container{
    background: #141414;
    padding: 0 50px 50px 50px;
    width: 100%;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    
}

.product-content{
    width: 500px;
}

.product-content p{
    color: white;
    text-align: justify;
}

/* slideshow */

.main-content{
    background: #141414;
}

#slideshow-img{
    width: 100%;
    height: 400px;
}

#slideshow-img2{
    width: 100%;
    height: 400px;
}

.content1, .content2{
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    margin: 0 50px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.slideshow-container{
    width: 619px;
    height: 419px;
    margin: auto;
    border: solid 10px #c7ae6a;
    border-radius: 5px;
    position: relative;

}

.mySlides, .mySlides2{
    display: none;
    width: 600px;
    height: 400px;
}

.dots-btn{
    position: absolute;
    top: 380px;
    /* background: #141414; */
}

/* The dots/bullets/indicators */
.dot ,.dot2{
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 5px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}
  
.active ,.dot:hover, .dot2:hover{
    background-color: #717171;
}

.slideshow-description-container{
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    padding: 0 50px 50px;
}

.slideshow-description{
   background-color: white;
   border-radius: 10px;
   padding: 20px;
   width: 619px;

}

.description-btn{
    display: flex;
    align-items: center;
    align-content: center;
    text-align: center;
    justify-content: space-evenly;
}

.contact-btn{
    text-decoration: none;
    font-weight: 500;
    text-align: center;
    color: #000;
    background-color: #c7ae6a;
    width: 150px;
    height: 30px;
    border-radius: 5px;
    transition: all 0.5s ease;
}

.contact-btn:hover{
    background: linear-gradient(to top, #e3d6b4, #c7ae6a);
    transition: all 0.5s ease;
}

.enquire-btn{
    text-decoration: none;
    font-weight: 500;
    text-align: center;
    color: #000;
    background-color: #c7ae6a;
    width: 150px;
    height: 30px;
    border-radius: 5px;
    transition: all 0.5s ease;
}

.enquire-btn:hover{
    background: linear-gradient(to top, #e3d6b4, #c7ae6a);
    transition: all 0.5s ease;
}

.slideshow-content-description{
    text-align: justify;
}

  
  /* Fading animation */
.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}
  
@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}


@media screen and (max-width: 768px) {

    .mySlides ,.mySlides2{
        display: none;
        width: auto;
        height: 400px;
    }
    
    #slideshow-img ,#slideshow-img2{
        width: 350px;
    }
    
    .content1, .content2{
        display: flex;
        flex-direction: column;
        align-items: center;
        align-content: center;
        justify-content: center;
        background: #141414;
        width: auto;
    }
    
    .slideshow-container{
        width: auto;
        border: none;
        border-radius:  0;
        margin: 0;
    }
      
    .active ,.dot:hover, .dot2:hover{
        background-color: #717171;
    }
    
    .slideshow-description-container{
        width: auto;
    }

    .slideshow-description{
        border-radius: 0 0 10px 10px;
        width: auto;
    }
    
    .description-btn{
        gap: 10px;
    }
    
}


/* footer section */
.footer-container{
    background: #000;
    padding: 5rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#footer-logo{
    width: 100px;

    display: flex;
    align-items: center;
    cursor: pointer;

}

.footer-links{
    width: 100%;
    display: flex;
    justify-content: center;
}

.footer-link-wrapper{
    display: flex;
}

.footer-link-items{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 16px;
    text-align: left;
    width: 160px;
    box-sizing: border-box;
}

.footer-link-items h2{
    color: white;
    margin-bottom: 16px;

}

.footer-link-items a{
    color: white;
    text-decoration: none;
    transition: all 0.5s ease-out;
    margin-bottom: 0.5rem;
}

.footer-link-items a:hover{
    color: #c7ae6a;
    transition: all 0.5s ease-out;
}

.website-right{
    color: white;
}

/* social icons */
.social-media{
    max-width: 1000px;
    width: 100%;
}

.socialMedia-wrap{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    max-width: 1000px;
    margin: 40px auto 0 auto;
}

.socialMedia-icons{
    display: flex;
    list-style: none;
    justify-content: space-evenly;
    align-items: center;
    width: 240px;
}

#socialMedia-logo{
    width: 50px;
}

/* responsive footer */
@media screen and (max-width: 768px) {
    .footer-links{
        padding-top: 2rem;
    }

    #footer-logo{
        margin-bottom: 2rem;
    }

    .website-right{
        margin-bottom: 2rem;
    }

    .footer-link-wrapper{
        flex-direction: column;
    }

    .socialMedia-wrap{
        flex-direction: column;
    }
}